version: '3'
services:
    #PHP Service
    php:
        container_name: es_service_php
        build:
            context: Docker/config/php
        volumes:
            - ./api:/usr/share/nginx
        networks:
            es-service-network:

    #Nginx Service
    nginx:
        container_name: es_service_nginx
        image: nginx:latest
        ports:
            - ${NGINX_EXPOSE_PORT:-8091}:80
        volumes:
            - ./api:/usr/share/nginx
            - ./Docker/config/nginx/default.conf:/etc/nginx/conf.d/default.conf
        networks:
            es-service-network:

        depends_on:
            - php

    #Redis Service
    redis:
        container_name: es_service_redis
        image: redis:latest
        networks:
            es-service-network:

    #DynamoDb locally Service
    dynamodb:
        container_name: es_service_dynamo
        image: amazon/dynamodb-local:latest
        ports:
            - ${DYNAMODB_EXPOSE_PORT:-8883}:8000
        command: ["-jar", "DynamoDBLocal.jar", "-sharedDb", "-inMemory"]
        networks:
            es-service-network:

networks:
    es-service-network:


