version: '3'
services:
    #PHP Service
    php:
        container_name: es_service_php
        build:
            context: Docker/config/php
        volumes:
            - ./api:/usr/share/nginx
        networks:
            es-service-network:

    #Nginx Service
    nginx:
        container_name: es_service_nginx
        image: nginx:latest
        ports:
            - 8091:80
        volumes:
            - ./api:/usr/share/nginx
            - ./Docker/config/nginx/default.conf:/etc/nginx/conf.d/default.conf
        networks:
            es-service-network:

        depends_on:
            - php

    #Redis Service
    redis:
        container_name: es_service_redis
        image: redis:latest
        networks:
            es-service-network:

    #DynamoDb locally Service
    dynamodb:
        container_name: es_service_dynamo
        image: amazon/dynamodb-local:latest
        ports:
            - 8883:8000
        command: ["-jar", "DynamoDBLocal.jar", "-sharedDb", "-inMemory"]
        networks:
            es-service-network:

    #Local AWS cloud service
    localstack:
        container_name: es_service_localstack
        image: localstack/localstack
        ports:
            - "4566:4566"
        environment:
            - SERVICES=sns , sqs
            - DATA_DIR=/tmp/localstack/data
            - DEFAULT_REGION=us-west-2
            - HOSTNAME_EXTERNAL=localstack
        volumes:
            - ./Docker/data/localstack:/tmp/localstack
        networks:
            es-service-network:

networks:
    es-service-network:


