version: '3'
services:
    #PHP Service
    php:
        container_name: team_service_php
        build:
            context: Docker/config/php
        volumes:
            - ./api:/var/www
        networks:
            team-service-network:

    #Nginx Service
    nginx:
        container_name: team_service_nginx
        image: nginx:latest
        ports:
            - 8091:80
        volumes:
            - ./api:/usr/share/nginx
            - ./Docker/config/nginx/default.conf:/etc/nginx/conf.d/default.conf

        networks:
            team-service-network:

        depends_on:
            - php

    #Redis Service
    redis:
        container_name: team_service_redis
        image: redis:latest
        networks:
            team-service-network:

    #DynamoDb locally Service
    dynamoDb:
        container_name: team_service_dynamo
        image: amazon/dynamodb-local:latest
        ports:
            - 8883:8000
        command: ["-jar", "DynamoDBLocal.jar", "-sharedDb", "-inMemory"]
        networks:
            team-service-network:

networks:
    team-service-network:


