<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="redis"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="AWS_ACCESS_KEY_ID" value="AKIAYSSRNTNFR7FP3QHH"/>
        <env name="AWS_SECRET_ACCESS_KEY" value="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"/>
        <env name="AWS_REGION" value="eu-west-2"/>
        <env name="AWS_VERSION" value="latest"/>
        <env name="AWS_ACCOUNT_ID" value="589655022411"/>
        <env name="BROKER_QUEUE_EVENT" value="test_team_event_queue"/>
        <env name="BROKER_QUEUE_QUESTION" value="test_team_question_queue"/>
        <env name="BROKER_QUEUE_ANSWER" value="test_team_answer_queue"/>
        <env name="BROKER_QUEUE_NOTIFICATION" value="test_team_notification_queue"/>
        <env name="BROKER_TOPIC_EVENT" value="test_team_event_topic"/>
        <env name="BROKER_TOPIC_QUESTION" value="test_team_question_topic"/>
        <env name="BROKER_TOPIC_ANSWER" value="test_team_answer_topic"/>
        <env name="BROKER_TOPIC_NOTIFICATION" value="test_team_notification_topic"/>
        <!--EventMediator-->
        <env name="EVENT_TEAM_WAS_CREATED" value="TeamWasCreated"/>
        <env name="EVENT_TEAM_WAS_UPDATED" value="TeamWasUpdated"/>
        <env name="EVENT_PLAYER_WAS_TRANSFERRED" value="PlayerWasTransferred"/>
        <env name="EVENT_TEAM_BECAME_RUNNER_UP" value="TeamBecameRunnerUp"/>
        <env name="EVENT_TEAM_BECAME_WINNER" value="TeamBecameWinner"/>
        <env name="EVENT_MATCH_WAS_CREATED" value="MatchWasCreated"/>
        <env name="EVENT_MATCH_FINISHED" value="MatchFinished"/>
        <env name="EVENT_MATCH_STATUS_CHANGED" value="MatchStatusChanged"/>
        <!-- Monolog-->
        <env name="ELASTIC_HOST" value="search-log-jhltx5r67swshaz6hwsfzoga6u.eu-west-2.es.amazonaws.com"/>
        <env name="ELASTIC_USERNAME" value="sportmob-log-user"/>
        <env name="ELASTIC_PASSWORD" value="vZJtcRqW5#mJ6qF3mHDTz"/>
    </php>
</phpunit>
