<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="redis"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <!--AWS-->
        <env name="AWS_ACCOUNT_ID" value="589655022411"/>
        <env name="AWS_ACCESS_KEY_ID" value="AKIAYSSRNTNFR7FP3QHH"/>
        <env name="AWS_SECRET_ACCESS_KEY" value="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"/>
        <env name="AWS_DYNAMODB_ENDPOINT" value="http://dynamoDb:8000"/>
        <env name="AWS_REGION" value="eu-west-2"/>
        <env name="AWS_VERSION" value="latest"/>
        <!--Broker-->
        <env name="BROKER_HOST" value="broker:9092"/>
        <env name="BROKER_SERVICE_PLAYER_NAME" value="player"/>
        <env name="BROKER_SERVICE_TEAM_NAME" value="team"/>
        <env name="BROKER_SERVICE_COMPETITION_NAME" value="competition"/>
        <env name="BROKER_SERVICE_TOURNAMENT_NAME" value="tournament"/>
        <env name="BROKER_SERVICE_COACH_NAME" value="coach"/>
        <env name="VISIBILITY_TIMEOUT_MESSAGE" value="20"/>
        <!--Topic-Event-->
        <env name="BROKER_TOPIC_TEAM_WAS_CREATED" value="test_team_team_was_created_topic"/>
        <env name="BROKER_TOPIC_TEAM_WAS_UPDATED" value="test_team_team_was_updated_topic"/>
        <env name="BROKER_TOPIC_PLAYER_WAS_TRANSFERRED" value="test_team_player_was_transferred_topic"/>
        <env name="BROKER_TOPIC_TEAM_BECAME_RUNNER_UP" value="test_team_team_became_runner_up_topic"/>
        <env name="BROKER_TOPIC_TEAM_BECAME_WINNER" value="test_team_team_became_winner_topic"/>
        <env name="BROKER_TOPIC_MATCH_WAS_CREATED" value="test_team_match_was_created_topic"/>
        <env name="BROKER_TOPIC_MATCH_FINISHED" value="test_team_match_finished_topic"/>
        <env name="BROKER_TOPIC_MATCH_STATUS_CHANGED" value="test_team_match_status_changed_topic"/>
        <!--Topic-Question-->
        <env name="BROKER_TOPIC_PLAYER_QUESTION" value="test_team_question_player_topic"/>
        <env name="BROKER_TOPIC_TEAM_QUESTION" value="test_team_question_team_topic"/>
        <env name="BROKER_TOPIC_COMPETITION_QUESTION" value="test_team_question_competition_topic"/>
        <env name="BROKER_TOPIC_COACH_QUESTION" value="test_team_question_coach_topic"/>
        <!--Topic-Answer-->
        <env name="BROKER_TOPIC_TEAM_ANSWER" value="test_team_answer_team_topic"/>
        <env name="BROKER_TOPIC_MATCH_ANSWER" value="test_team_answer_match_topic"/>
        <env name="BROKER_TOPIC_COMPETITION_ANSWER" value="test_team_answer_competition_topic"/>
        <env name="BROKER_TOPIC_PLAYER_ANSWER" value="test_team_player_answer_topic"/>
        <!--Topic-Notification-->
        <env name="BROKER_TOPIC_NOTIFICATION" value="test_team_notification_topic"/>
        <!--Queue-->
        <env name="BROKER_QUEUE_EVENT" value="test_team_event_queue"/>
        <env name="BROKER_QUEUE_QUESTION" value="test_team_question_queue"/>
        <env name="BROKER_QUEUE_ANSWER" value="test_team_answer_queue"/>
        <env name="BROKER_QUEUE_NOTIFICATION" value="test_team_notification_queue"/>
        <!--Common-->
        <env name="LIMIT_TEAM_OVERVIEW_UPCOMING" value="1"/>
        <env name="LIMIT_TEAM_OVERVIEW_FINISHED" value="5"/>
        <!--Database-->
        <env name="REDIS_CLIENT" value="predis"/>
        <env name="REDIS_CLUSTER" value="redis"/>
        <env name="REDIS_PREFIX" value=""/>
        <env name="REDIS_HOST" value="redis"/>
        <env name="REDIS_PASSWORD" value=""/>
        <env name="REDIS_PORT" value="6379"/>
        <env name="REDIS_DB" value="0"/>
        <env name="REDIS_CACHE_DB" value="1"/>
        <!--MediatorEvent-->
        <env name="EVENT_TEAM_WAS_CREATED" value="TeamWasCreated"/>
        <env name="EVENT_TEAM_WAS_UPDATED" value="TeamWasUpdated"/>
        <env name="EVENT_PLAYER_WAS_TRANSFERRED" value="PlayerWasTransferred"/>
        <env name="EVENT_TEAM_BECAME_RUNNER_UP" value="TeamBecameRunnerUp"/>
        <env name="EVENT_TEAM_BECAME_WINNER" value="TeamBecameWinner"/>
        <env name="EVENT_MATCH_WAS_CREATED" value="MatchWasCreated"/>
        <env name="EVENT_MATCH_FINISHED" value="MatchFinished"/>
        <env name="EVENT_MATCH_STATUS_CHANGED" value="MatchStatusChanged"/>
        <!-- Monolog-->
        <env name="MONOLOG_INDEX" value="sportmob_log"/>
        <env name="ELASTIC_HOST" value="62.75.148.72"/>
        <env name="ELASTIC_PORT" value="29200"/>
        <env name="ELASTIC_TRANSPORT" value="http"/>
        <env name="ELASTIC_USERNAME" value="a.tavakoli@tgbsco.com"/>
        <env name="ELASTIC_PASSWORD" value="Admin1@3"/>
        <!-- Sentry-->
        <env name="SENTRY_DSN" value="http://07a0bb4f72904898a2112abe06feffbd@sentry.sportmob.com/2"/>
    </php>
</phpunit>
